//
// VARIABLES GLOBALES DU THEME
//
$primary: #2472a5;
$secondary: #a2c739;
$tertiary: #ffffff;

//
// COULEURS
//
$dark-grey: #696c71;
$medium-grey: #dadee6;
$light-grey: #f6f6f6;
$red-dark: #9b0000;
$red: #ff6868;

//
// BACKGROUND
//
$background-light: #ffffff;
$background-dark: #232426;
$background-grey: #f6f6f6;
